################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/GoombMan/v16/Browse.VC.opendb
/.vs/GoombMan/v16/ipch/AutoPCH/f8b201c861f5b84e
